body,div,p,ul,li,span,table,tr,td{margin: 0;padding: 0;}
body{
    background:linear-gradient(#EDF4FC,#D9E4F1);
    overflow: hidden;
}
.container{
    padding: 10px;
}
.toolbar{
    line-height: 25px;    
    background: linear-gradient(#FEFEFF,#E0E5F5);
    border-bottom: 1px solid #B6BCCC;
    font-size: 13px;
    padding-left: 3px;
}
.about{
    padding: 0px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: default;
}
.about:hover{
    border-color: #8E9CAD;
    background: linear-gradient(#F0F6FB,#EDF3F8,#E7EDF5,#DBE6F0);
}
.result{
    text-align: right;
    padding-right: 5px;
    height: 50px;
    border: 1px solid #8E9CAD;
    border-radius: 3px;
    background: linear-gradient(#E5EEFB,#FFFFFF);
}
.tempcal{
    line-height: 20px;
    font-size: 12px;
    height: 20px;
}
.tempresult{
    line-height: 30px;
    font-size: 15px;
    height: 30px;
    font-size: 18px;
}
.btns-con{
    margin-right: -5px;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin-top: 5px;
    font-size: 14px;
    line-height: 25px;
    flex: 1;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #8E9CAD;
    background: linear-gradient(#F0F6FB,#EDF3F8,#E7EDF5,#DBE6F0);
    cursor: default;
}
.num{
    background: linear-gradient(#F7FBFF,#EDF3F8,#E8EEF5,#F2FBFF);
}
.btn.spe2{
    line-height: 57px;
    font-size: 20px;
    font-weight: bold;
}
.back >div{
    transform: rotate(180deg);
}
.btnbot{
    flex: 1;
    display: flex;
}
.btnleft{
    flex: 4;
}
.btnright{
    flex: 1;
}
@keyframes btnhover{
    0%{background: linear-gradient(#F0F6FB,#EDF3F8,#E7EDF5,#DBE6F0);border-color: #8E9CAD;}
    100%{background: linear-gradient(#FFF6EC,#FEE2C3,#FFD16E,#FFFFC6);border-color: #FFDB00;}
}
.btn:hover{
    animation: btnhover 0.4s ease-out;
    animation-fill-mode: forwards;
}
